@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: hsl(30, 38%, 92%);
}

.image {
    width: 20%;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;

}

.producto {
    background-color: whitesmoke;
    margin: -10px;
    width: 20%;
    margin: -10px auto;
}

div h1.perfume {
    display: inline-block;
    margin-top: 20px;
    color: hsl(228, 12%, 48%);
    letter-spacing: 4px;
    font-size: smaller;
    padding: 10px 10px 0px 10px;


}

div h2.liriox {
    font-size: xx-large;
    padding: 0px 10px;
    margin: 0px;
    font-family: "Fraunces", serif;

}

div p {
    padding: 0px 10px;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

.button {
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
    margin: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.addcar {
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 2px;
    /*s*/

}

.material-symbols-outlined {
    display: inline-block;
    vertical-align: bottom;
}

div.precio1 {
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
    position: relative;
    font-family: "Fraunces", serif;

}

div.precio2 {
    text-decoration: line-through;
    font-size: 10px;
    color: gray;
    left: 120px;
    bottom: 15px;
    margin-left: 10px;
    display: block;
    position: absolute;


}